# Paras Patel-Day6 Assignment

__Question 1:__
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

Example;
Input:
john@google.com

Output:
google

In [1]:
s = input("Enter email id:")
i = s.find('@')
j = s.rfind(".")
print(s[i+1:j],end=" ")

Enter email id:paras@spotle.ai.com
spotle.ai

__Question 2:__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [2]:
s = input("Enter comma-sepearated sequence of words:")
l = s.split(",")
l = sorted(l)
for i in l:
    print("{},".format(i),end = "")

Enter comma-sepearated sequence of words:without,hello,bag,world
bag,hello,without,world,

__Question 3:__
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
set1 = {'one', 'Two','three'}
set2 = {'one','four','nine'}
set1.add('four')#Adds an element to the set
print(set1)
set3 = set2.copy() #Returns a copy of the set
print(set3)
print(set2.difference(set1)) #Returns a set containing the difference between two or more sets
print(set1.intersection(set2)) #Returns a set, that is the intersection of two other sets
print(set1.union(set2)) #Return a set containing the union of sets
print(set1.symmetric_difference(set2)) #Returns a set with the symmetric differences of two sets
set2.discard('nine') #Remove the specified item
print(set2)
#print(set3) #Check whether copied set is updated or not
print(set2.issubset(set1)) #Returns whether another set contains this set or not
print(set2.issuperset(set1)) #Returns whether this set contains another set or not
print(set1.pop()) #Removes last element from the set
set1.remove('one')#Removes the specified element 
print(set1)
set1.clear()#Removes all the elements from the set
print(set1)

{'four', 'one', 'three', 'Two'}
{'one', 'nine', 'four'}
{'nine'}
{'one', 'four'}
{'one', 'three', 'Two', 'nine', 'four'}
{'three', 'nine', 'Two'}
{'one', 'four'}
True
False
four
{'three', 'Two'}
set()

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8

Output:5

In [4]:
list1 = [1,2,4,6,3,7,8]
list2 = sorted(list1)
list2
for i in range(1,len(list2)):
    if(i not in list2):
        print(i)

5

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24

Output:
12 24 35

In [5]:
list1 = [12,24,35,24,88,120,155,88,99,120,155]
list2 = []
for i in list1:
    if(i in list2):
        continue
    else:
        list2.append(i)
list2

[12, 24, 35, 88, 120, 155, 99]