In [1]:
import numpy as np
import pandas as pd

In [3]:
filepath = r"C:\Users\admin\Documents\LetsUpgrade\Notes\Day 21\Bank_Personal_Loan_Modelling.xlsx"
excel = pd.ExcelFile(filepath)

In [4]:
excel.sheet_names

['Description', 'Data']

In [5]:
data = excel.parse('Data')
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [6]:
data.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [7]:
data = data.drop('ZIP Code',axis = 1)
data

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.600000,1,0,0,1,0,0,0
1,2,45,19,34,3,1.500000,1,0,0,1,0,0,0
2,3,39,15,11,1,1.000000,1,0,0,0,0,0,0
3,4,35,9,100,1,2.700000,2,0,0,0,0,0,0
4,5,35,8,45,4,1.000000,2,0,0,0,0,0,1
5,6,37,13,29,4,0.400000,2,155,0,0,0,1,0
6,7,53,27,72,2,1.500000,2,0,0,0,0,1,0
7,8,50,24,22,1,0.300000,3,0,0,0,0,0,1
8,9,35,10,81,3,0.600000,2,104,0,0,0,1,0
9,10,34,9,180,1,8.900000,3,0,1,0,0,0,0
10,11,65,39,105,4,2.400000,3,0,0,0,0,0,0
11,12,29,5,45,3,0.100000,2,0,0,0,0,1,0
12,13,48,23,114,2,3.800000,3,0,0,1,0,0,0
13,14,59,32,40,4,2.500000,2,0,0,0,0,1,0
14,15,67,41,112,1,2.000000,1,0,0,1,0,0,0
15,16,60,30,22,1,1.500000,3,0,0,0,0,1,1
16,17,38,14,130,4,4.700000,3,134,1,0,0,0,0
17,18,42,18,81,4,2.400000,1,0,0,0,0,0,0
18,19,46,21,193,2,8.100000,3,0,1,0,0,0,0
19,20,55,28,21,1,0.500000,2,0,0,1,0,0,1
20,21,56,31,25,4,0.900000,2,111,0,0,0,1,0
21,22,57,27,63,3,2.000000,3,0,0,0,0,1,0
22,23,29,5,62,1,1.200000,1,260,0,0,0,1,0
23,24,44,18,43,2,0.700000,1,163,0,1,0,0,0
24,25,36,11,152,2,3.900000,1,159,0,0,0,0,1
25,26,43,19,29,3,0.500000,1,97,0,0,0,1,0
26,27,40,16,83,4,0.200000,3,0,0,0,0,0,0
27,28,46,20,158,1,2.400000,1,0,0,0,0,1,1
28,29,56,30,48,1,2.200000,3,0,0,0,0,1,1
29,30,38,13,119,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,2,1.700000,2,0,0,0,0,0,1
4971,4972,58,28,73,1,1.400000,3,0,0,1,0,0,0
4972,4973,58,32,41,3,2.200000,3,148,0,0,0,1,1
4973,4974,31,1,68,4,4.000000,3,0,0,0,0,1,0
4974,4975,59,33,64,4,1.700000,2,0,0,0,0,0,1
4975,4976,38,11,29,4,1.000000,2,0,0,0,0,1,0
4976,4977,29,5,31,1,1.800000,2,0,0,0,0,1,1
4977,4978,40,15,54,3,0.800000,3,0,0,0,0,1,0
4978,4979,57,27,63,4,2.000000,3,0,0,0,0,1,0
4979,4980,50,26,92,1,2.600000,2,213,0,0,0,0,1
4980,4981,29,5,135,3,5.300000,1,0,1,0,1,1,1
4981,4982,34,9,195,2,3.000000,1,122,0,0,0,1,0
4982,4983,36,10,45,4,0.200000,1,0,0,0,0,0,1
4983,4984,51,26,72,1,2.900000,1,0,0,0,0,0,0
4984,4985,27,1,98,4,2.300000,3,0,0,0,0,0,1
4985,4986,48,23,30,3,1.700000,2,162,0,0,0,1,0
4986,4987,32,6,78,1,2.900000,3,0,0,0,0,0,0
4987,4988,48,23,43,3,1.700000,2,159,0,0,0,1,0
4988,4989,34,8,85,1,2.500000,1,136,0,0,0,0,1
4989,4990,24,0,38,1,1.000000,3,0,0,0,0,1,0
4990,4991,55,25,58,4,2.000000,3,219,0,0,0,0,1
4991,4992,51,25,92,1,1.900000,2,100,0,0,0,0,1
4992,4993,30,5,13,4,0.500000,3,0,0,0,0,0,0
4993,4994,45,21,218,2,6.666667,1,0,0,0,0,1,0
4994,4995,64,40,75,3,2.000000,3,0,0,0,0,1,0
4995,4996,29,3,40,1,1.900000,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.400000,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.300000,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.500000,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.800000,1,0,0,0,0,1,1

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [10]:
rf_model = RandomForestClassifier(n_estimators = 1000,max_features = 2,oob_score = True)

In [11]:
features = ['ID', 'Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']

In [12]:
rf_model.fit(X=data[features],y=data['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [13]:
rf_model.oob_score_

0.9866

In [14]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

ID 0.04735488028413008
Age 0.04178104896939845
Experience 0.04090762096534198
Income 0.3312898899814669
Family 0.0904086417870126
CCAvg 0.178228213130444
Education 0.14959037412517429
Mortgage 0.04270982380479562
Securities Account 0.005288709008191628
CD Account 0.05449992035891346
Online 0.00818948047081904
CreditCard 0.009751397114312488

In [15]:
from sklearn import tree

In [16]:
tree_model = tree.DecisionTreeClassifier(max_depth = 8)

In [17]:
predictors = pd.DataFrame([data['Income'],data['CCAvg'],data['Education']]).T

In [18]:
tree_model.fit(X = predictors,y=data['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
print(tree_model.score(X = predictors,y = data['Personal Loan']))

0.9816

In [20]:
with open('DTree_Bank_Loan_Modelling.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names = ['Income','CCAvg','Education'],out_file=f)

In [21]:
data.shape

(5000, 13)

In [24]:
test = data.loc[3500:]
test

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
3500,3501,51,26,90,1,2.800000,2,0,0,0,0,1,1
3501,3502,65,39,105,4,1.700000,3,0,0,1,0,1,0
3502,3503,32,8,58,3,2.000000,1,90,0,0,0,1,0
3503,3504,29,3,53,4,2.100000,3,0,0,0,0,1,0
3504,3505,46,20,15,4,0.600000,3,0,0,1,0,1,0
3505,3506,64,39,103,1,0.800000,3,0,0,0,0,1,1
3506,3507,27,1,58,4,1.800000,2,154,0,0,1,1,1
3507,3508,50,23,83,1,2.666667,2,0,0,0,1,1,1
3508,3509,33,9,125,1,4.300000,3,0,1,0,0,1,0
3509,3510,38,12,61,3,0.900000,3,0,0,0,0,0,0
3510,3511,38,11,69,3,2.333333,2,0,0,0,0,0,0
3511,3512,37,11,89,1,1.500000,3,0,0,0,0,1,0
3512,3513,46,20,70,4,2.900000,1,0,0,0,0,0,1
3513,3514,31,4,39,2,1.000000,2,0,0,0,0,0,0
3514,3515,35,9,41,4,1.200000,2,0,0,0,0,1,0
3515,3516,50,26,148,2,0.400000,1,508,0,0,0,0,0
3516,3517,45,21,38,3,0.600000,2,148,0,0,0,1,0
3517,3518,30,6,95,1,3.900000,3,146,1,0,0,0,1
3518,3519,60,36,129,2,6.000000,1,0,0,0,0,0,0
3519,3520,31,5,84,4,1.800000,2,0,0,1,0,1,0
3520,3521,60,35,29,3,1.300000,2,0,0,0,0,0,0
3521,3522,36,10,30,2,0.800000,3,0,0,0,0,1,0
3522,3523,64,40,90,2,0.000000,3,134,0,0,0,0,0
3523,3524,29,4,150,1,0.800000,1,0,0,0,0,0,1
3524,3525,58,33,15,4,0.900000,2,0,0,0,0,0,0
3525,3526,59,34,13,4,0.900000,2,0,0,0,0,0,0
3526,3527,58,33,9,2,0.200000,3,0,0,0,0,1,0
3527,3528,35,10,24,4,1.100000,3,0,0,0,0,0,0
3528,3529,43,17,41,3,2.200000,2,0,0,0,0,1,0
3529,3530,33,7,25,4,1.000000,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,2,1.700000,2,0,0,0,0,0,1
4971,4972,58,28,73,1,1.400000,3,0,0,1,0,0,0
4972,4973,58,32,41,3,2.200000,3,148,0,0,0,1,1
4973,4974,31,1,68,4,4.000000,3,0,0,0,0,1,0
4974,4975,59,33,64,4,1.700000,2,0,0,0,0,0,1
4975,4976,38,11,29,4,1.000000,2,0,0,0,0,1,0
4976,4977,29,5,31,1,1.800000,2,0,0,0,0,1,1
4977,4978,40,15,54,3,0.800000,3,0,0,0,0,1,0
4978,4979,57,27,63,4,2.000000,3,0,0,0,0,1,0
4979,4980,50,26,92,1,2.600000,2,213,0,0,0,0,1
4980,4981,29,5,135,3,5.300000,1,0,1,0,1,1,1
4981,4982,34,9,195,2,3.000000,1,122,0,0,0,1,0
4982,4983,36,10,45,4,0.200000,1,0,0,0,0,0,1
4983,4984,51,26,72,1,2.900000,1,0,0,0,0,0,0
4984,4985,27,1,98,4,2.300000,3,0,0,0,0,0,1
4985,4986,48,23,30,3,1.700000,2,162,0,0,0,1,0
4986,4987,32,6,78,1,2.900000,3,0,0,0,0,0,0
4987,4988,48,23,43,3,1.700000,2,159,0,0,0,1,0
4988,4989,34,8,85,1,2.500000,1,136,0,0,0,0,1
4989,4990,24,0,38,1,1.000000,3,0,0,0,0,1,0
4990,4991,55,25,58,4,2.000000,3,219,0,0,0,0,1
4991,4992,51,25,92,1,1.900000,2,100,0,0,0,0,1
4992,4993,30,5,13,4,0.500000,3,0,0,0,0,0,0
4993,4994,45,21,218,2,6.666667,1,0,0,0,0,1,0
4994,4995,64,40,75,3,2.000000,3,0,0,0,0,1,0
4995,4996,29,3,40,1,1.900000,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.400000,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.300000,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.500000,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.800000,1,0,0,0,0,1,1

In [25]:
test_features = pd.DataFrame([test['Income'],test['CCAvg'],test['Education']]).T

In [26]:
test_predict = tree_model.predict(X = test_features)

In [27]:
Predicted_output = pd.DataFrame({'ID':test['ID'],'Personal Loan':test_predict})

In [29]:
Predicted_output.to_csv('Bank Modelling Output.csv',index = False)

In [32]:
Predicted_output['Personal Loan'].value_counts()

0    1390
1     110
Name: Personal Loan, dtype: int64

In [33]:
test['Personal Loan'].value_counts()

0    1374
1     126
Name: Personal Loan, dtype: int64